<!-- <p>registration-fee-modal works!</p>
<p *ngFor="let registrationFee of registrationFees; let i=index ">
    {{ registrationFee | objectInfo}}
</p>
<div>
    <h2>choosen one for edit:</h2>
    <p>{{ registrationFee | objectInfo}}</p>
</div> -->

<div class="modal-header" #dialogContent>
    <h4 class="modal-title" id="modal-title">{{isNew ? "Insert" : "Update"}}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
  
<form class="" *ngIf="registrationFeeForm" [formGroup]="registrationFeeForm" (ngSubmit)="onSubmit()" >

  <div class="" >
    <div class="">
      <h3>{{ (formTitleKey) | translate}}</h3>

      <div class="from-group">
        <label for="ord">#</label>
        <input id="ord" readonly class="form-control" placeholder="#"  type="text" formControlName="ord"/>
        <div class="alert alert-danger" *ngIf="registrationFeeForm.get('ord').touched && registrationFeeForm.get('ord').errors">
          <span *ngIf="registrationFeeForm.get('ord').touched && registrationFeeForm.get('ord').hasError('required')" >
            <small>{{'VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
          </span>
        </div>
      </div>

      <div class="from-group">
        <label for="name">{{'REGISTRATION_FEE.NAME' | translate }}</label>
        <input id="name" class="form-control" placeholder="{{'REGISTRATION_FEE.NAME' | translate }}"  type="text" formControlName="name"/>
        <div class="alert alert-danger" *ngIf="registrationFeeForm.get('name').touched && registrationFeeForm.get('name').errors">
          <span *ngIf="hasErrors('name','required')" >
            <small>{{'VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
          </span>
        </div>
      </div>


      <div class="from-group">
        <label for="amount">{{'REGISTRATION_FEE.AMOUNT' | translate }}</label>
        <input id="amount" class="form-control" placeholder="{{'REGISTRATION_FEE.AMOUNT' | translate }}"  type="text" formControlName="amount"/>
        <div class="alert alert-danger" *ngIf="registrationFeeForm.get('amount').touched && registrationFeeForm.get('amount').errors">
          <span *ngIf="hasErrors('amount','numeric')" >
            <small>{{'VALIDATION_MESSAGES.MUST_BE_NUMBER'   | translate }}</small>
          </span>
          <span *ngIf="hasErrors('amount','required')" >
            <small>{{'VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password-input">{{'REGISTRATION_FEE.START_DATE' | translate }}</label>
        <div class="input-group">
          <input id="startDateField" ngbDatepicker  #startDateField="ngbDatepicker" class="form-control" placeholder="{{'REGISTRATION_FEE.START_DATE' | translate }}"  type="text" formControlName="startDateField"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="startDateField.toggle()" type="button">Choose date</button>
          </div>
  
        </div>
        <div class="alert alert-danger" *ngIf="registrationFeeForm.get('startDateField').touched && registrationFeeForm.get('startDateField').errors">
          <span *ngIf="hasErrors('startDateField','required')" >
            <small>{{'VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password-input">{{'REGISTRATION_FEE.END_DATE' | translate }}</label>
        <div class="input-group">
          <input id="endDateField" ngbDatepicker  #endDateField="ngbDatepicker" class="form-control" placeholder="{{'REGISTRATION_FEE.END_DATE' | translate }}"  type="text" formControlName="endDateField"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="endDateField.toggle()" type="button">Choose date</button>
          </div>
  
        </div>
        <div class="alert alert-danger" *ngIf="registrationFeeForm.get('endDateField').touched && registrationFeeForm.get('endDateField').errors">
          <span *ngIf="hasErrors('endDateField','required')" >
            <small>{{'VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
          </span>
        </div>
      </div>

      <div class="d-flex flex-row-reverse mt-2">
        <!-- <button type="button" class="btn btn-outline-danger" (click)="onDeleteClick(registrationFee)" [disabled]="!isEnabled('buttonDelete')"><bi name="card-text"></bi>Delete</button> -->
        <!-- <button type="button" class="btn btn-outline-success" (click)="updateAction()" [disabled]="!isEnabled('buttonEdit')"><bi name="card-text"></bi>Edit</button> -->
        <!-- <button type="button" class="btn btn-outline-success" (click)="cancelAction()" ><bi name="card-text"></bi>Cancel</button> -->
        <!-- <button type="button" class="btn btn-outline-success" (click)="enableChanges()" [disabled]="!isEnabled('buttonEnableChanges')" ><bi name="card-text"></bi>EnableChanges</button> -->
        <!-- <button type="button" class="btn btn-outline-success" (click)="insertAction()"  [disabled]="!isEnabled('buttonSave')"  ><bi name="card-text"></bi>Save</button> -->
      </div>
    </div>
  </div>


</form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" ngbAutofocus (click)="onCancel()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="onConfirm()">Ok</button>
</div>
