<h2>{{'CLIMBER.CLIMBER_LIST.TITLE' | translate }}</h2>

<!-- FILTER CLIMBER FORM START-->
<h3>{{ "FILTER" | translate}}</h3>

<form class="" *ngIf="filterForm" [formGroup]="filterForm" (ngSubmit)="onFilterApplied()" >
  <div class="row">
    <div class="form-group">
      <label for="firstName">{{'CLIMBER.FIRST_NAME' | translate }}</label>
      <input type="text"  class="form-control" id="firstName" placeholder="{{'CLIMBER.FIRST_NAME' | translate }}" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">{{'CLIMBER.LAST_NAME' | translate }}</label>
      <input type="text"  class="form-control" id="lastName" placeholder="{{'CLIMBER.LAST_NAME' | translate }}" formControlName="lastName" >
    </div>
    <div class="form-group">
      <label for="yearOfBirth">{{'CLIMBER.YEAR_OF_BIRTH' | translate }}</label>
      <input type="text"  class="form-control" [ngClass]="{'border border-danger': filterForm.get('yearOfBirth').touched && filterForm.get('yearOfBirth').errors}" id="lastName" placeholder="{{'CLIMBER.YEAR_OF_BIRTH' | translate }}" formControlName="yearOfBirth" >
    </div>
        <!-- <button type="button" class="btn btn-outline-danger" (click)="onDeleteClick(climber)" [disabled]="!isEnabled('buttonDelete')"><bi name="card-text"></bi>Delete</button> -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary" >Apply filter</button>
    </div>

  </div>
</form>

<!-- FILTER CLIMBER FORM END -->
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" >{{'CLIMBER.CLIMBER' | translate }}</th>
    <th scope="col" >{{'CLIMBER.CLIMBER_LIST.ACTIONS' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let climber of climbers; let i=index ">
    <td>
      {{ climber.firstName }} {{ climber.lastName }}, {{ climber.yearOfBirth }}
    </td>
    <td>
      <!-- Obratite paznju na to da nema kose crte ispred city-form za to
        sto je ovo vec child ruta city i ako bi se stavil kosa crta izasao bi iz city rute -->
      <button class="btn btn-outline-success"  (click)="onClimberSelect(climber)"  ><bi name="card-text"></bi>{{'BUTTONS.CHOOSE' | translate}}</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex m-auto justify-content-center">
  <ngb-pagination [collectionSize]="totalItems" (pageChange)="onPageChange($event)" [(page)]="currentPage" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>

